
######################
# Intellij
######################
.idea/
*.iml
*.iws
*.ipr
*.ids
*.orig
HELP.md

######################
# Visual Studio Code
######################
.vscode/

######################
# Maven
######################
/log/
/target/

release.properties
*.releaseBackup
pet-clinic-data/target/
pet-clinic-web/target/

######################
# Gradle
######################
.gradle/
/build/

######################
# Package Files
######################
*.jar
*.war
*.ear
*.db